<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Doctors</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./navstyle.css" />
    <link rel="stylesheet" href="./adddoctorStyle.css"/>
    <!-- <link rel="stylesheet" href="./doctorstyle.css" /> -->
    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/6cb71b80aa.js" crossorigin="anonymous"></script>
    <script
      src="https://kit.fontawesome.com/6cb71b80aa.js"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">Patient & Medication Management </span>
      </div>
      <div class="sidebar">
        <div class="logo">
          <i class="bx bx-menu menu-icon"></i>
          <span class="logo-name">K R B S</span>
        </div>

        <div class="sidebar-content">
          <ul class="lists">
            <li class="list">
              <a href="/" class="nav-link">
                <i class="fa-solid fa-house"></i>
                <span class="link">Home</span>
              </a>
            </li>
            <li class="list">
              <a href="/register" class="nav-link">
                <i class="fa-solid fa-registered"></i>
                <span class="link">Register</span>
              </a>
            </li>
            <li class="list">
              <a href="/Appointments" class="nav-link">
                <i class="fa-solid fa-calendar-check"></i>
                <span class="link">Appointments</span>
              </a>
            </li>
            <li class="list">
                <a href="/doctors" class="nav-link">
                    <i class="fa-solid fa-user-doctor"></i>
                  <span class="link">Doctors</span>
                </a>
            </li>
            <li class="list">
              <a href="/add-doctor" class="nav-link">
                <i class="fa-solid fa-hospital-user"></i>
                <span class="link">Add Doctor</span>
              </a>
          </li>
            
          </ul>
          
        </div>
      </div>
    </nav>
    <main>
       
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,192L40,176C80,160,160,128,240,128C320,128,400,160,480,176C560,192,640,192,720,170.7C800,149,880,107,960,117.3C1040,128,1120,192,1200,197.3C1280,203,1360,149,1400,122.7L1440,96L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
            
            <div class="reg-container">
        <h2 class="text-center mb-5 text-primary text-capitalize">Please fill the Details</h2>
        <div class="register-form ms-0 mb-5">                
            <form class="row needs-validation" th:action="@{/add-doctor}" th:object="${doctor}" method="post" novalidate>
                <div class="col-md-3 mt-2">
                    <label for="validationCustom05" class="form-label">Id</label>
                    <input type="text" class="form-control" id="validationCustom05" th:field="*{id}" required />
                    <div class="invalid-feedback">
                        Please provide an Id.
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-5">
                        <label for="validationCustom01" class="form-label">First name</label>
                        <input type="text" class="form-control" id="validationCustom01" th:field="*{firstname}" required />
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-md-5">
                        <label for="validationCustom02" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="validationCustom02" th:field="*{lastname}" required />
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-4">
                        <label for="validationCustomSpecialization" class="form-label">Specialization</label>
                        <input type="text" class="form-control" id="validationCustomSpecialization" th:field="*{specialization}" required />
                        <div class="invalid-feedback">Please provide a specialization.</div>
                    </div>
                    <div class="col-md-3 mt-4">
                        <label for="validationCustomExperience" class="form-label">Experience</label>
                        <input type="text" class="form-control" id="validationCustomExperience" th:field="*{experience}" required />
                        <div class="invalid-feedback">Please provide experience.</div>
                    </div>
                    <div class="col-md-3 mt-4">
                        <label for="validationCustomDob" class="form-label">Dob</label>
                        <input type="date" class="form-control" id="validationCustomDob" th:field="*{dob}" required />
                        <div class="invalid-feedback">Please provide a date of birth.</div>
                    </div>
                </div>
                <div class="col-md-9 mt-4">
                    <label for="validationCustomAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="validationCustomAddress" th:field="*{address}" required />
                    <div class="invalid-feedback">Please provide an address.</div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-5">
                        <label for="validationCustomEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="validationCustomEmail" th:field="*{email}" required />
                        <div class="invalid-feedback">
                            Please provide a valid email id.
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="validationCustomPhoneNumber" class="form-label">Phone No</label>
                        <input type="text" class="form-control" id="validationCustomPhoneNumber" th:field="*{phone}" required />
                        <div class="invalid-feedback">
                            Please provide a valid mobile number.
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required />
                        <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <button class="btn btn-primary ps-4 pe-4" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
                          
    
    </main>

    <script src="script.js"></script>
    <script src="registerjs.js"></script>
    <script>
        const navBar = document.querySelector("nav"),
       menuBtns = document.querySelectorAll(".menu-icon"),
       overlay = document.querySelector(".overlay");

     menuBtns.forEach((menuBtn) => {
       menuBtn.addEventListener("click", () => {
         navBar.classList.toggle("open");
       });
     });

     overlay.addEventListener("click", () => {
       navBar.classList.remove("open");
     });
    </script>
  </body>
</html>