<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medications</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <h1>Medications</h1>
        <a th:href="@{/medications/new}" class="btn btn-primary mb-3">Add Medication</a>
        <div class="row">
            <div class="col-md-4" th:each="medication : ${medications}">
                <div class="card mb-4 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Patient Name</h5>
                        <p class="card-text" th:text="${medication.patient.firstName + ' ' + medication.patient.lastName}"></p>
                        <h5 class="card-title">Doctor Name</h5>
                        <p class="card-text" th:text="${medication.doctor.firstname + ' ' + medication.doctor.lastname}"></p>
                        <h5 class="card-title">Prescription</h5>
                        <p class="card-text" th:text="${medication.description}"></p>
                        <a th:href="@{/medications/{id}/edit(id=${medication.id})}" class="btn btn-primary">Update</a>
                        <a th:href="@{/medications/{id}/delete(id=${medication.id})}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>